
<launch>

  <!--ROS SHARP-->
  <arg name="port" default="9090" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090" />
  </include>
  <node name="file_server" pkg="file_server" type="file_server" output="screen" />

  <node name="markerTF" pkg="azure_marker" type="markerBoardCast.py" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find azure_marker)/config/marker.rviz" />

  <node name="cloud_tansformer"
        pkg="pointcloud_transformer" type="cloud_transformer">
    <remap from="/inputPC" to="/croppedPointCloud" />
    <remap from="/outputPC" to="/croppedPointCloudWorld" />
  </node> 


</launch>