
<launch>
  <node name="cloud_tansformer"
        pkg="pointcloud_transformer" type="cloud_transformer" output="screen">
    <remap from="/inputPC" to="/croppedPointCloud" />
    <remap from="/outputPC" to="/croppedPointCloudWorld" />
    <param name="frameIn" type="str" value="rgb_camera_link" />
    <param name="frameOut" type="str" value="goal" />
  </node> 
</launch>
